flows (2).json
[{"id":"979c0492.9a2958","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"975a5dd8.63d5c","type":"ui_group","z":"","name":"Cement","tab":"e9c6db1f.01ba28","order":1,"disp":true,"width":"12","collapse":false},{"id":"e9c6db1f.01ba28","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"cee3ec06.a5c54","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"e0fe5c3a.f951d","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"fd395507.4ea018","type":"function","z":"979c0492.9a2958","name":"PreToken","func":"global.set(\"cm\",msg.payload.cm)\nglobal.set(\"bf\",msg.payload.bf)\nglobal.set(\"fy\",msg.payload.fy)\nglobal.set(\"w\",msg.payload.w)\nglobal.set(\"s\",msg.payload.s)\nglobal.set(\"ca\",msg.payload.ca)\nglobal.set(\"fa\",msg.payload.fa)\nglobal.set(\"a\",msg.payload.a)\nvar apikey=\"2609Mn9Al65mTjFYO5SgVyW9LXDeLXV3myAr-EyZCrsw\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":200,"wires":[["52fcd48c.b3a4cc"]]},{"id":"52fcd48c.b3a4cc","type":"http request","z":"979c0492.9a2958","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":200,"wires":[["8c6f1182.3f216"]]},{"id":"4d092fc6.4cea4","type":"inject","z":"979c0492.9a2958","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":120,"wires":[["fd395507.4ea018"]]},{"id":"183d03d.eac55fc","type":"debug","z":"979c0492.9a2958","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":930,"y":300,"wires":[]},{"id":"8c6f1182.3f216","type":"function","z":"979c0492.9a2958","name":"Pre Prediction","func":"var cm = global.get('cm')\nvar bf = global.get('bf')\nvar fy = global.get('fy')\nvar w = global.get('w')\nvar s = global.get('s')\nvar ca = global.get('ca')\nvar fa = global.get('fa')\nvar a = global.get('a')\nvar token=msg.payload.access_token\nvar instance_id=\"26b52d0a-c0b7-4f75-afff-d0b2cc1d8901\"\nmsg.headers={'Content-Type': 'application/json', 'Authorization': 'Bearer ' + token, 'ML-Instance-ID': instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Cement (component 1)(kg in a m^3 mixture)\", \"Blast Furnace Slag (component 2)(kg in a m^3 mixture)\", \"Fly Ash (component 3)(kg in a m^3 mixture)\", \"Water  (component 4)(kg in a m^3 mixture)\", \"Superplasticizer (component 5)(kg in a m^3 mixture)\", \"Coarse Aggregate  (component 6)(kg in a m^3 mixture)\", \"Fine Aggregate (component 7)(kg in a m^3 mixture)\", \"Age (day)\"], \"values\": [[cm,bf,fy,w,s,ca,fa,a]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":200,"wires":[["7e8653e7.5722bc"]]},{"id":"7e8653e7.5722bc","type":"http request","z":"979c0492.9a2958","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v4/deployments/6574583e-0a8b-4929-a64b-8c78afae116a/predictions","tls":"","persist":false,"proxy":"","authType":"","x":750,"y":200,"wires":[["f760d13d.391d6","183d03d.eac55fc"]]},{"id":"975c2ecb.d2cf5","type":"ui_form","z":"979c0492.9a2958","name":"","label":"","group":"975a5dd8.63d5c","order":2,"width":0,"height":0,"options":[{"label":"Cement (component 1)(kg in a m^3 mixture)","value":"cm","type":"number","required":true,"rows":null},{"label":"Blast Furnace Slag (component 2)(kg in a m^3 mixture)","value":"bf","type":"number","required":true,"rows":null},{"label":"Fly Ash (component 3)(kg in a m^3 mixture)","value":"fy","type":"number","required":true,"rows":null},{"label":"Water  (component 4)(kg in a m^3 mixture)","value":"w","type":"number","required":true,"rows":null},{"label":"Superplasticizer (component 5)(kg in a m^3 mixture)","value":"s","type":"number","required":true,"rows":null},{"label":"Coarse Aggregate  (component 6)(kg in a m^3 mixture)","value":"ca","type":"number","required":true,"rows":null},{"label":"Fine Aggregate (component 7)(kg in a m^3 mixture)","value":"fa","type":"number","required":true,"rows":null},{"label":"Age (day)","value":"a","type":"number","required":true,"rows":null}],"formValue":{"cm":"","bf":"","fy":"","w":"","s":"","ca":"","fa":"","a":""},"payload":"","submit":"Submit","cancel":"Cancel","topic":"","x":110,"y":280,"wires":[["fd395507.4ea018"]]},{"id":"fea4f42e.ff5698","type":"ui_text","z":"979c0492.9a2958","group":"975a5dd8.63d5c","order":1,"width":0,"height":0,"name":"","label":"Concrete compressive strength(MPa, megapascals) ","format":"{{msg.payload}}","layout":"row-spread","x":1190,"y":60,"wires":[]},{"id":"f760d13d.391d6","type":"function","z":"979c0492.9a2958","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":60,"wires":[["fea4f42e.ff5698"]]}]
